/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

body {
  @apply bg-color text-white;
}

.bg-color {
  background-color: #1b1b1e;
}

.link {
  @apply underline transition-colors;
}

.link:hover {
  color: #3b82f6;
}
